body {
	font-size: 12px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	background-color: #ffe3be;
	font-family: "AEH";
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

footer {
	color: #999;
	font-size: 0.6em;
	text-align: center;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 14px;
	}
}

@media (min-width: 800px) {
	body {
		font-size: 16px;
	}
}

@font-face {
	font-family: "AEH";
	src: url("AEH.ttf");
}
